*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator{
    position: absolute;
    top:30%;
    right: 30%;
    height: 50%;
    width : 30%;
}

#calculator-input{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    text-align:right
}

.button-container{
    margin-top: 10px;
    background-color: black;
    width: 100%;
}

/* .first-row, .second-row, .third-row,.fourth-row,.fifth-row{
    display: flex;
    justify-content: space-between;
} */

.main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 3 columns of equal width */
    grid-gap: 10px;
}


.op{
    margin: 5% 20%;
    background-color:white;
    border-radius:5px;
    font-size: 20px;
}

.bottom{
    margin: 5% 5%;
    /* width:40%; */
    background-color:white;
    border-radius:5px;
    font-size: 20px;
}
#reset{
    grid-column: 1 / 3;
}

#equal{
    grid-column: 3 / 5;
}
